h4 {
    margin: 10px;
    padding: 0px 20px;
}

.itensImg {
    display: block;
    width: 300px;
    margin: auto;
    padding: 20px 0px;
}

.quero, .itensTitulo{
    border-radius: 20px;
    border: 2px solid var(--primary);
    padding: 10px;
    margin: 5px 80px;
}

#seta {
    text-align: center;
    font-weight: bold;
    color: var(--primary);
    font-size: 20px;
}
