:root {
    --primary: #4682B4;
    --secondary: #87CEEB;
}

header h1 {
    font-size: 45px;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

header h1 span {
    display: block;
}

#logo {
    display: block;
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 20px 0px;
}

body {
    background-image: url('/assets/backgroud.jpg');
    background-size: cover;       /* Faz a imagem cobrir todo o fundo */
    background-position: center;  /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

body h2, h3 {
    text-transform: uppercase;
    text-align: center;
    color: var(--primary);
    padding: 10px;
    margin: 10px;
}

body p {
    text-align: justify;
    font-size: 18px;
    color: var(--primary);
    margin: 0px 20px;
    padding: 10px;
}

body a {
    text-decoration: none;
    color: var(--primary);
}

#logoImg {
    width: 20px;
}

.itens {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: var(--primary);
    margin: 20px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid var(--secondary);
    box-shadow: 1px 1px 15px 3px rgba(19,211,214, 0.6);
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

th {
    background-color: var(--primary);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

footer {
    display: block;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 15px;
    font-size: 12px;
    font-weight: bold;
}

footer a {
    padding: 10px;
}

footer p {
    text-align: center;
    font-size: 12px;
    margin: 10px;
}